* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;

    &:hover, &:visited {
        color: $color-dark-gray;
    }
}

ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

fieldset {
    border-width: 1px; // override skeleton.css
}

input:disabled, select:disabled {
    color: $color-gray;
    text-decoration: line-through;
}

textarea {
    resize: none;
}