/* 
    HEADER 
*/
.header {
    margin-top: 10px;
    margin-bottom: 10px;

    &__logo {
        width: 50px;
        height: auto;

        &:hover {
            position: relative;
            animation: travel;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: normal;
        }
    }

    &__site-name {
        display: inline-block !important;
        margin-left: 10px;
        margin-bottom: 0;
    }
}

@keyframes travel {
    0% {top: 0; left: 0}
    25% {top: 0; left: 900px;}
    50% {top: 900px; left: 900px;}
    75% {top: 900px; left: 0;}
    100% {top: 0; left: 0;}
}


/* 
    NAVIGATION 
*/
.navigation__nav-list {
    list-style-type: none;
    border-bottom: 1px solid $color-gray;
}

.nav-list {
    &__item {
        display: inline-block;
        padding: 10px 20px;
        
        &:hover, &.active {
            background-color: $color-gray;
            
            a {
                color:   #fff;
            }
        }
    }

    &__icon {
        font-size: 3rem;
        @include phablet {
            font-size: 1.5rem;
        }
    }
    &__text {
        display: none;
        @include phablet {
            display: inline;
        }
    }
}

/* 
    SECTION 
*/
.section {
    &__title {
        
    }
}

/* 
    FOOTER 
*/
.footer {
    background-color: $color-gray;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;

    &__site-info {
        text-align: center;
        @include phablet {
            text-align: left;
        }
    }

    &__social-media {
        text-align: center;
        @include phablet {
            text-align: right;
        }
    }

    &__copyright {
        text-align: center;
        margin-top: 20px;
    }
}

.social-media {
    &__link-wrapper {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        
        @include phablet {
            flex-flow: row-reverse;
            justify-content: flex-start;
        }
    }

    &__link {
        display: inline-block;
        text-align: center;
        font-size: 3rem;
        color: #fff !important;
        border-radius: 50%;
        min-width: 50px;
        height: auto;
        border: 1px solid #fff;
    }
}

#facebook-link {
    background-color: $color-facebook;
}

#twitter-link {
    background-color: $color-twitter;
}

#youtube-link {
    background-color: $color-youtube;
}