* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: $color-dark-gray;

    &:hover, &:visited {
        color: $color-dark-gray;
    }
}

input[type='submit'], input[type='reset'] {
    min-width: 120px;
}

input:disabled, select:disabled {
    color: $color-gray;
    text-decoration: line-through;
}

.theme {

    // Input
    &__input {
        &__validity {
            display: inline-block;
            text-align: right;
        }
    }

    // Tooltip
    &__tooltip-icon {
        &:hover {
            cursor: pointer;
        }
    }

    // Text
    &__text {

        &--strong {
            font-weight: bold;
            font-size: 1.75rem;
        }

        &--italic {
            font-weight: 500;
            font-size: 1.75rem;
            font-style: italic;
        }

        &--info {
            font-weight: bold;
            color: $color-blue;
        }

        &--success {
            font-weight: bold;
            color: $color-green;
        }
    }

}

#order-form {
    box-shadow: $box-shadow-standard;
}