html, body {
    height: 100%;
}

h1, h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

fieldset {
    padding: 20px;
    border-width: 1px; // override skeleton.css
    min-width: 0;
    // max-width: 100%; //this line doesn't seem to work, min-width = 0 is enough
}

input, textarea {
    max-width: 100%;
    margin: 0;
    background-color: inherit;
}

textarea {
    resize: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
}