$color-dark-gray: #222;
$color-gray: #555;
$color-blue: #1EAEDB;
$color-green: #00CC00;
$color-light-green: #ccffcc;
$color-red: #ff3333;
$color-pink: #ff9999; // or light-red

$color-youtube: rgb(230, 33, 23);
$color-facebook: rgb(54, 88, 153);
$color-twitter: rgb(0, 109, 191);

$box-shadow-standard: 2px 10px 20px 5px $color-gray;