.crud-table {
    th {
        text-align: center;
    }
}

.action {
    &__button {
        font-size: 1.5rem;
        padding: 0 15px;

        // variations
        &--view, &--download {
            color: $color-gray;
        }
        &--accept, &--done {
            color: $color-green;
        }
        &--add, &--edit, &--in-progress {
            color: $color-blue;
        }
        &--delete, &--reject, &--cancel {
            color: $color-red;
        }
        &--not-done {
            color: $color-pink;
        }
    }

    &-form {
        display: inline-block;
        vertical-align: middle;
    }
}