.navigation {

    // Overwrite skeleton.css
    .container {
        max-width: 100% !important;
        padding: 0 10px;
    }

    &__nav-list {
        list-style-type: none;
        border-bottom: 1px solid $color-gray;
    }
}

.nav-list {
    &__item {
        display: inline-block;
        padding: 10px 20px;
        
        &:hover, &.active {
            background-color: $color-gray;
            
            a {
                color:   #fff;
            }
        }

        &:last-child {
            float: none;

            @include desktop {
                float: right;
                clear: both;
            }
        }
    }

    &__icon {
        font-size: 3rem;
        @include phablet {
            font-size: 1.5rem;
        }
    }
    &__text {
        display: none;
        @include phablet {
            display: inline;
        }
    }
}